<div class="container-fluid">
    <div class="row">
        <div class="6">
            <h3><strong>聯絡我們 - 維護</strong></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @Html.ButtonBuilder(ButtonType.button, "btnCreate", "新增")
        </div>
    </div>
    <div class="row" style="margin-top: 0.5%;">
        <div id="GridV" class="col-md-6"></div>
        <div id="EditV" class="col-md-6"></div>
    </div>
</div>

<script>
    var EditV, GridV;

    $(function () {
        EditV = $('#EditV');
        GridV = $('#GridV');

        loadGrid();

        $('#btnCreate').on('click', function () {
            EditV.load('@Url.Action("Create")', CreateReady);
        });
    });

    function loadGrid() {
        GridV.load('@Url.Action("Grid")', SelectReady);
    }

    function CreateReady() {
        eventCancal();
    }

    function SelectReady() {
        $('#list tbody tr').on('click', function () {
            EditV.load('@Url.Action("Edit")', { xGUID: $(this)[0].cells[0].innerText.replace(/\n/g, "") }, EditReady);
        });
    }

    function EditReady() {
        EditV.find('#GUID').attr('readonly', true);

        eventCancal();
        $('#btnDelete').on('click', function () {
            $.post('@Url.Action("Delete")', { xGUID: EditV.find('#GUID').val() }, onSaved);
        });
    }

    function onSaved(d) {
        alert(d);
        loadGrid();
        claerEdit();
    }

    function claerEdit() {
        EditV.empty();
    }

    function eventCancal() {
        $('#btnCancel').on('click', claerEdit);
    }

</script>