@model SERIES

<div class="container-fluid">
    <div class="row">
        <div class="6">
            <h3><strong>產品 - 維護</strong></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @Html.DropDownListBuilder(m => m.ID, Shared.SeriesList(), "系列")
            @Html.ButtonBuilder(ButtonType.button, "btnCreate", "新增")
        </div>
    </div>
    <div class="row" style="margin-top: 0.5%;">
        <div id="GridV" class="col-md-6"></div>
        <div id="EditV" class="col-md-6"></div>
    </div>
</div>

<script>
    var EditV, GridV;

    $(function () {
        EditV = $('#EditV');
        GridV = $('#GridV');

        loadGrid();

        $('#btnCreate').on('click', function () {
            EditV.load('@Url.Action("Create")', { xSERIES: $('#ID').val() }, CreateReady);
        });

        $('#ID').on('change', function () {
            loadGrid();
            claerEdit();
        });

        var message = @Html.Raw(Json.Encode(TempData["message"]));
        if (message != null) {
            alert(message);
        }
    });

    function loadGrid() {
        GridV.load('@Url.Action("Grid")', { xSERIES: $('#ID').val() }, SelectReady);
    }

    function CreateReady() {
        EditV.find('select#SERIES').attr('disabled', true).attr('id', 'SERIES_FAKE');
        eventCancal();
    }

    function SelectReady() {
        $('#list tbody tr').on('click', function () {
            EditV.load('@Url.Action("Edit")', {
                xSERIES: $(this)[0].cells[0].innerText.replace(/\n/g, ""),
                xID: $(this)[0].cells[1].innerText.replace(/\n/g, "")
            }, EditReady);
        });
    }

    function EditReady() {
        EditV.find('select#SERIES').attr('disabled', true).attr('id', 'SERIES_FAKE');
        EditV.find('#ID').attr('readonly', true);

        eventCancal();
        $('#btnDelete').on('click', function () {
            $.post('@Url.Action("Delete")', { xSERIES: EditV.find('#SERIES').val(), xID: EditV.find('#ID').val() }, onSaved);
        });
    }

    function onSaved(d) {
        alert(d);
        loadGrid();
        claerEdit();
    }

    function claerEdit() {
        EditV.empty();
    }

    function eventCancal() {
        $('#btnCancel').on('click', claerEdit);
    }

</script>