@model ReportQueryViewModel

<div class="row">
    @using (Ajax.BeginForm(new AjaxOptions()
    {
        Url = Url.Action("Grid"),
        UpdateTargetId = "GridV",
        OnSuccess = "SelectReady"
    }))
    {
        @Html.AccordionBuilder(@<text>
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        @Html.DateBoxBuilder(m => m.TradeDate_S, "報告日期(起)")
                    </div>
                    <div class="col-md-3">
                        @Html.DateBoxBuilder(m => m.TradeDate_E, "報告日期(迄)")
                    </div>
                    <div class="col-md-3">
                        @Html.DropDownListBuilder(m => m.ProductID, Shared.ProductList(), "產品代碼", true)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        @Html.ButtonBuilder(ButtonType.submit, "btnQuery", "查詢")
                    </div>
                </div>
            </div>
        </text>, "查詢")
    }
</div>
<div class="row" style="margin-top: 0.5%;">
    <div class="col-md-12">
        @Html.ButtonBuilder(ButtonType.button, "btnCreate", "新增")
    </div>
</div>
<div class="row" style="margin-top: 0.5%;">
    <div id="GridV" class="col-md-6"></div>
    <div id="EditV" class="col-md-6"></div>
</div>

<script>
    var EditV, GridV;

    $(function () {
        EditV = $('#EditV');
        GridV = $('#GridV');

        loadGrid();

        $('#btnCreate').on('click', function () {
            EditV.load('@Url.Action("Create")', CreateReady);
        });

        var message = @Html.Raw(Json.Encode(TempData["message"]));
        if (message != null) {
            alert(message);
        }
    });

    function loadGrid() {
        //GridV.load('@Url.Action("Grid")', SelectReady);
        claerEdit();
        $('#btnQuery').click();
    }

    function CreateReady() {
        eventCancal();
        uploadReady();
    }

    function SelectReady() {
        $('#list tbody tr').on('click', function () {
            EditV.load('@Url.Action("Edit")', { xGUID: $(this)[0].cells[0].innerText.replace(/\n/g, "") }, EditReady);
        });
    }

    function EditReady() {
        //EditV.find('#GUID, #PRODUCT_ID').attr('readonly', true);

        eventCancal();
        uploadReady();
        $('#btnDelete').on('click', function () {
            $.post('@Url.Action("Delete")', { xGUID: EditV.find('#GUID').val() }, onSaved);
        });
    }

    function onSaved(d) {
        alert(d);
        loadGrid();
        claerEdit();
    }

    function claerEdit() {
        EditV.empty();
    }

    function eventCancal() {
        $('#btnCancel').on('click', claerEdit);
    }

    function uploadReady() {
        $('#upload').on('change', function (e) {
            var files = e.target.files;
            if (files.length > 0) {
                var filename = files[0].name;
                var ext = filename.split('.').pop();
                $("#DOCUMENT_NAME").val(filename.replace("." + ext, ""));
            }
        });
    }

</script>