@model ReportQueryViewModel

<div class="container">
    <div class="row">
        <div class="6">
            <h3><strong>研究/使用個案 - 維護</strong></h3>
        </div>
    </div>
</div>
<div class="row">
    @using (Ajax.BeginForm(new AjaxOptions()
    {
        Url = Url.Action("Grid"),
        UpdateTargetId = "GridV",
        OnSuccess = "SelectReady"
    }))
    {
        @Html.AccordionBuilder(@<text>
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        @Html.DateBoxBuilder(m => m.TradeDate_S, "報告日期(起)")
                    </div>
                    <div class="col-md-3">
                        @Html.DateBoxBuilder(m => m.TradeDate_E, "報告日期(迄)")
                    </div>
                    <div class="col-md-3">
                        @Html.DropDownListBuilder(m => m.Series, Shared.SeriesList(), "系列", true)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        @Html.ButtonBuilder(ButtonType.submit, "btnQuery", "查詢")
                    </div>
                </div>
            </div>
        </text>, "查詢")
    }
</div>
<div class="row" style="margin-top: 0.5%;">
    <div class="col-md-12">
        @Html.ButtonBuilder(ButtonType.button, "btnCreate", "新增")
    </div>
</div>
<div class="row" style="margin-top: 0.5%;">
    <div id="EditV" class="col-md-12"></div>
</div>
<div class="row" style="margin-top: 0.5%;">
    <div id="GridV" class="col-md-12"></div>
</div>

<script>
    var EditV, GridV;

    $(function () {
        EditV = $('#EditV');
        GridV = $('#GridV');

        loadGrid();

        $('#btnCreate').on('click', function () {
            EditV.load('@Url.Action("Create")', CreateReady);
        });

        var message = @Html.Raw(Json.Encode(TempData["message"]));
        if (message != null) {
            alert(message);
        }
    });

    function loadGrid() {
        //GridV.load('@Url.Action("Grid")', SelectReady);
        claerEdit();
        $('#btnQuery').click();
    }

    function CreateReady() {
        eventCancal();
        uploadReady();
        reloadProductList();
    }

    function SelectReady() {
        $('#list tbody tr').on('click', function () {
            EditV.load('@Url.Action("Edit")', { xGUID: $(this)[0].cells[0].innerText.replace(/\n/g, "") }, EditReady);
        });
        claerEdit();
    }

    function EditReady() {
        //EditV.find('#GUID, #PRODUCT_ID').attr('readonly', true);

        eventCancal();
        uploadReady();
        $('#btnDelete').on('click', function () {
            $.post('@Url.Action("Delete")', { xGUID: EditV.find('#GUID').val() }, onSaved);
        });
        reloadProductList();
    }

    function onSaved(d) {
        alert(d);
        loadGrid();
        claerEdit();
    }

    function claerEdit() {
        EditV.empty();
    }

    function eventCancal() {
        $('#btnCancel').on('click', claerEdit);
    }

    function uploadReady() {
        $('#uploadfile').on('change', function (e) {
            var files = e.target.files;
            if (files.length > 0) {
                var filename = files[0].name;
                var ext = filename.split('.').pop();
                $("#DOCUMENT_NAME").val(filename.replace("." + ext, ""));
            }
        });
    }

    function reloadProductList() {
        $('#SERIES').on('change', function () {
            $.post('@Url.Action("listProduct")', { xSERIES: EditV.find('#SERIES').val() }, function (d) {
                var data = d.data;
                //console.log(data);
                var $select = EditV.find("select#PRODUCT_ID");
                $select.empty();
                for (var i = 0; i < data.length; i++) {
                    //console.log(data[i]);
                    var o = $('<option/>', { value: data[i].ID })
                        .text(data[i].NAME)
                        .prop('selected', i == 0);
                    o.appendTo($select);
                }
            });
        });
    }

</script>