@model HOMEEDIT
<div id="content"
     style="width: 100%;
            height: calc(100vh - 100px);
            background-color: #b0e0e6;
            display: inline-flex;
            background-image: url('../Content/img/HOME.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;">
    <div class="row" style="align-items: flex-end; justify-content: center; width: 100%; margin-bottom: 3%;">
        <div class="col-md-3 box"
             style="background-color: rgba(109, 204, 163, 0.9);">
            <div>
                <h4 style="font-weight:bolder; margin-top: 5%;">@Model.TITLE1</h4>
            </div>
            <div>
                <p>@Model.CONTENT1</p>
            </div>
            <div id="Link1" style="height:41px; min-height:18px; width:107px;">
                <a href="@Model.LINK1"
                   class="link"
                   style="background-color: rgba(4, 59, 36, 0.15);">
                    <span>Read More</span>
                </a>
            </div>
        </div>
        <div class="col-md-3 box"
             style="background-color: rgba(13, 178, 107, 0.9);">
            <div>
                <h4 style="font-weight:bolder; margin-top: 5%;">@Model.TITLE2</h4>
            </div>
            <div>
                <p>@Model.CONTENT2</p>
            </div>
            <div id="Link2" style="height:41px; min-height:18px; width:107px;">
                <a href="@Model.LINK2"
                   class="link"
                   style="background-color: rgba(4, 59, 36, 0.15);">
                    <span>Read More</span>
                </a>
            </div>
        </div>
        <div class="col-md-3 box"
             style="background-color: rgba(9, 119, 71, 0.9);">
            <div>
                <h4 style="font-weight:bolder; margin-top: 5%;">@Model.TITLE3</h4>
            </div>
            <div>
                <p>@Model.CONTENT3</p>
            </div>
            <div id="Link3" style="height:41px; min-height:18px; width:107px;">
                <a href="@Model.LINK3"
                   class="link"
                   style="background-color: rgba(4, 59, 36, 0.15);">
                    <span>Read More</span>
                </a>
            </div>
        </div>
    </div>
</div>

<style>
    .link {
        position: absolute;
        width: 40%;
        height: 20%;
        justify-content: center;
        align-items: center;
        display: flex;
        text-decoration: none;
        color: white;
    }

    .box {
        border: 0px;
        display: grid;
        color: white;
        font-family: Arial,Helvetica,sans-serif;
        margin: 0.5%;
        height: 35%;
    }
</style>