<div class="row" style="height: 15em;">
    <div class="col-md-6" style="background-color: #99e699;">
        <h2>研究＆使用案例</h2>
        <p>@Html.ActionLink("研究＆使用案例 PIC", "Index", "ResearchUse")</p>
    </div>
    <div class="col-md-6" style="background-color: #ff9999;">
        <h2>TIMELESS時光番茄膠囊</h2>
        <p>@Html.ActionLink("TIMELESS時光番茄膠囊 PIC", "Index", "TimeLessTomato")</p>
    </div>
</div>
<div class="row" style="height: 15em;">
    <div class="col-md-6" style="background-color: #ffff99;">
        <h2>WOUNDCARE</h2>
        <p>@Html.ActionLink("WOUNDCARE PIC", "Index", "WoundCare")</p>
    </div>
    <div class="col-md-6" style="background-color: #b3d9ff;">
        <h2>聯絡我們</h2>
        <p>@Html.ActionLink("聯絡我們 PIC", "Index", "Contact")</p>
    </div>
</div>
@Html.ActionLink("產品維護", "Index", "Product")
@Html.ActionLink("公司資訊", "Index", "CompanyInfo")
@Html.ActionLink("聯絡我們", "Index", "Contact")
<style>
    h2 {
        margin-top: 2.5em;
    }
</style>